---
import Button from "./shared/Button.astro";

import en from '../i18n/messages/en.json';
import es from '../i18n/messages/es.json';

const lang = Astro.url.pathname.includes('/es') ? 'es' : 'en';
const t = lang === 'es' ? es : en;
---

<section class="relative w-full h-screen overflow-hidden flex items-center justify-center text-center pt-16" id="hero">
  <!-- Video de fondo -->
  <video
    autoplay
    muted
    loop
    playsinline
    class="absolute top-0 left-0 w-full h-full object-cover z-0"
  >
    <source src="/assets/videos/hero.mp4" type="video/mp4" />
    Tu navegador no soporta el video HTML5.
  </video>

  <!-- Overlay negro -->
  <div class="absolute inset-0 bg-black bg-opacity-50 z-2"></div>

  <!-- Contenido -->
  <div class="relative z-3 text-white px-4 max-w-3xl">
    <h1 class="text-5xl md:text-7xl font-main ">
      {t.logo.title}
    </h1>
    <h2 class="text-1xl font-secondary uppercase mb-6">
      {t.logo.subtitle}
    </h2>

    <p class="text-xl md:text-2xl font-secondary">
      {t.hero.title}
    </p>
    <p class="text-lg text-accent font-secondary mb-8">
      {t.hero.subtitle}
    </p>

    <div class="flex flex-col md:flex-row justify-center items-center gap-4 md:w-[70%] m-auto">
      <Button href="/portfolio" label={t.hero.cta_primary} variant="primary"  fullWidth/>
      <Button href="/contact" label={t.hero.cta_secondary} variant="secondary" fullWidth />
    </div>
  </div>
</section>
